@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Jost:wght@300&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/BG.png);
    background-position: top;
    background-repeat: no-repeat;
    background-color: antiquewhite;
    display: block;
    background-size: contain;
    color: #fff;
    font-family: Jost;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 5em;
    align-items: center;
    font-family: Jost;
}

.logo img{
    width: 120px;
    height: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    font-size: 13px;
    color: #fffffff5;
    letter-spacing: 3px;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 15em 6em;
    width: 25%;
}

.land{
    background: #F0694B;
    border-radius: 50px;
    color: #fff;
    border: none;
    width: 150px;
    height: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 11px;
    margin-top: 25px;
}

.landing h1{
    margin-bottom: 5px;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
}

.landing h3{
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.2;
}

.about {
    background-color: #fff;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    color: #323232;
}

.about-image {
    display: block;
    width: 50%;
    height: 100%;
}

.about-image img{
    width: 100%;
    height: 100%;
    display: block;
}

.about-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10em 8em;
}

.service-content {
    display: block;
    width: 50%;
    height: 100%;
}

.service-content img{
    width: 100%;
    height: 100%;
    display: block;
}

.service{
    display: flex;
    align-items: center;
    color: #323232;

}

.service-details {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 50%;
    padding: 0em 4em 2em 2em;
}

.service-details h1{
    font-size: 2.5em;
    font-weight: 800;
    margin-top: 5px;
}

.service-details img{
    width: 40px;
}

.contact {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/contacts.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em 25em;
    text-align: center;
    gap: 1em;
}

.contact h1{
    font-size: 2.5em;
}
.contact h5{
    color: #F0694B;
}

.foot {
    display: flex;
    align-items: center;
    background-color: #F0694B;
    justify-content: space-between;
    padding: .7em 50em;
    font-size: 12px;
    letter-spacing: 2px;
}
.copy {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #343434;
    justify-content: space-between;
    padding: 0.7em 40%;
    font-size: 10px;
    letter-spacing: 2px;
}