* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formulating-title {
    background-color: rgba(65, 104, 141, 0.701);
    text-align: center;
    color: rgb(61, 36, 40);
    font-family: 'Lucida Sans Regular';
    padding-top: 26px;
    padding-bottom: 26px;
}
.editing {
    color: #acac7c;
    padding-top: 20px;
    margin-left: 80px;
    font-family: 'Lucida Sans Regular';


}
.first{
    width: 50%;
    height: 450px;
    padding-top: 20px;
}

.first-img {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}


.aligning {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title {
    color: white;
    font-family: 'Lucida Sans Regular';
    text-align: center;
    font-weight: 300px;


}

.paragraph-1 h3{
    color: white;
    font-family: 'Lucida Sans Regular';
    padding-top: 25px;
    font-size: 17px;
    
}

.paragraph-1 p {
    font-size: 12px;
    color: rgb(184, 170, 170);
    font-family: 'Lucida Sans Regular';
    padding-bottom: 19px;
    
}
.paragraph-2 h3 {
    color: white;
    font-family: 'Lucida Sans Regular';
    font-size: 17px;
}
.paragraph-2 p {
    color: rgb(184, 170, 170);
    font-family: 'Lucida Sans Regular';
    font-size: 12px;
    padding-bottom: 24px;
}
.paragraph-3 h3 {
    color: white;
    font-family: 'Lucida Sans Regular';
    font-size: 17px;
}
.paragraph-3 p {
    color: rgb(184, 170, 170);
    font-family: 'Lucida Sans Regular';
    font-size: 12px;
    
} 

.joining {
    margin-left: 40px;

}
